// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// AOS
@import "~aos/dist/aos.css";

/* Header */

aside {
    transition: .5s all;
    position: relative;
    left: 0;
}

.nav {
    padding-top: 30px;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav-link {
    padding: 12px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #A8A9B4;
}

.nav-link > span {
    transition: .5s all;
}

/* .nav-link li * {
    margin-bottom: 8px;
    transition: .5s all;
} */

.nav-link:hover > span {
    color: white;
}

.nav-link:hover > i {
    color: #149ddd;
}

.nav-link.active > span {
    color: white;
}

.nav-link.active > i {
    color: #149ddd;
}

.nav-icon {
    font-size: 21px;
}

.h-90 {
    height: 85%;
}

.bg-header {
    background-color: #040B14;
}

.w-300px {
    width: 300px;
}

.name-link {
    transition: .5s all;
}

.profile-avatar {
    display: block;
    border: 5px solid #2C2F3F;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 15px auto;
}

.social-link {
    font-size: 16px;
    transition: .5s all;
    background: #212431;
    border-radius: 50%;
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
}

.social-link:hover {
    background-color: #149AD8;
}

@media screen and (max-width: 1180px) {
    aside {
        z-index: 998;
        left: -300px;
    }
}

/* Main Content */

.overflow-y-hidden {
    overflow-y: hidden;
}

body {
    background-color: white;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

#showNav {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 999;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
}

.footer {
    display: none;
    background-color: #040B14;
    color: #f4f6fd;
}

.hideAside {
    left: -300px;
}

.showAside {
    left: 0px;
}

.portfolio-wrap:hover img {
    opacity: .5;
}

.portfolio-wrap img {
    transition: .3s all ease-in-out;
}

.portfolio-wrap:hover .portfolio-links {
    visibility: visible;
    bottom: 0;
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-links button * {
    font-size: 28px;
}

.portfolio-links button {
    width: 50%;
}

.portfolio-links {
    visibility: hidden;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 3;
    position: absolute;
    transition: .3s all ease-in-out;
}

.back-to-top i {
    font-size: 28px;
    color: white;
    line-height: 0;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s all;
}

.count-box {
    padding: 15px;
    width: 100%;
}

.count-box i {
    float: left;
    display: block;
    color: #149ddd;
    font-size: 44px;
    line-height: 0px;
}

.count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    margin-left: 60px;
}

.count-box p {
    padding-top: 10px;
    margin-left: 60px;
    font-size: 14px; 
}

.service h4 {
    margin-left: 80px;
    margin-bottom: 15px;
}

.service p {
    margin-left: 80px;
    line-height: 24px;
}

.service:hover .icon {
    background-color: white;
    color: #149ddd;
}

.service .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background-color: #149ddd;
    border-radius: 50%;
    transition: .5s all;
    border: 1px solid #149ddd;
    color: white;
    font-size: 24px;
}

.contact-info-text {
    padding-left: 60px;
}

.bi-contact-information {
    transition: .3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #149ddd;
    background-color: #DFF3FC;
}

.bi-contact-information:hover {
    color: white;
    background-color: #149ddd;
}

.resume-item {
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #1f5297;
}

.resume-item::before {
    position: absolute;
    left: -9px;
    top: 0;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #1f5297;
    background-color: white;
}

.resume-item h5 {
    display: inline-block;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    background-color: #E4EDF9;
}

.progress {
    border-radius: 0;
    background-color: #dce8f8;
    height: 10px;
}

.progress-bar {
    background-color: #149ddd;
    height: 10px;
}

.skill {
    padding: 0;
    margin-bottom: 6px;
    text-transform: uppercase;
    display: block;
    height: 20px;
    font-weight: 600;
    font-size: .75rem;
    color: #050d18;
}

.data-list {
    list-style: none;
    padding: 0;
}

.data-list > li {
    margin-bottom: 20px;
}

.section-bg {
    background-color: #F5F8FD;
}

main section {
    padding-top: 40px;
}

.section-title {
    padding-bottom: 10px;
}

.text-blue {
    font-size: 26px;
    color: #173B6C;
}

.section-title h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #173B6C;
}

.profession span {
    border-bottom: 3px solid #149ddd;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #149ddd;
    bottom: 0;
    left: 0;
}

.reviews {
    display: flex;
    flex-direction: row;
}
.reviews .review-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
}
.reviews .review-item .review-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}
.reviews .review-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}
.reviews .review-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}
.reviews .review-item .quote-icon-left, .reviews .review-item .quote-icon-right {
    color: #c3e8fa;
    font-size: 26px;
}
.reviews .review-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}
.reviews .review-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}
.reviews .review-item p {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background-color: #F5F8FD;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.reviews .review-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #F5F8FD;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
}

.about-me {
    margin-left: 400px;
}

.font-size-50 {
    font-size: 50px;
}

.home-section {
    background: url("/img/background.jpg") no-repeat 100% 100%;
    background-size: cover;
    background-attachment: fixed;
}

.minh-100vh {
    min-height: 100vh;
}

.h-100vh {
    height: 100vh;
}

.ml-300px {
    margin-left: 300px;
}

@media screen and (max-width: 1180px) {
    #home {
        justify-content: center;
    }

    #showNav {
        visibility: visible;
        opacity: 1;
    }

    .footer {
        display: block;
    }

    .about-me {
        margin: 0px;
    }

    .about-me > * {
        text-align: center;
    }

    .ml-300px {
        margin-left: 0px;
    }
}